@media (max-width: 768px) {
  .menu-mobile {
    display: flex;
    align-items: center;
    position: relative;
  }
  .menu-mobile li {
    display: inline-block;
    position: relative;
  }
  /* menu */
  .menu-mobile-content {
    display: none;

    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 2.7rem;
    background-color: #fff;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    z-index: 100;
    padding: 0.25rem 0;

    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  }
  .menu-mobile-content li a {
    display: block;
    padding: 0.25rem 2rem;
  }
  .menu-mobile-content li a:hover {
    background-color: rgb(250, 208, 44);
    color: #fff;
  }
  .menu {
    display: none;
  }
  /*  */
  .none {
    display: none;
  }
  .flex {
    display: flex;
  }
  .section-wrapper h1 {
    text-align: center;
  }

  .section-content {
    text-align: center;
  }

  .progress-bar-item {
    flex-direction: column;
  }

  h1 {
    font-size: 2.1rem;
  }
  .company-wrapper {
    flex-direction: column;
  }

  .card {
    text-align: center;
  }
  .icon-wrapper {
    display: flex;
    justify-content: center;
  }

  .footer-section {
    text-align: center;
  }
  .logo-img-footer {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .menu-mobile-footer {
    margin-bottom: 1rem;
  }

  .footer-help {
    justify-content: center;
  }
  .icon-footer {
    margin: 0;
  }

  .px-7 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.menu-mobile {
  margin-left: auto;
}
.menu-mobile img {
  width: 2.2rem;
}
