@media (max-width: 768px) {
  .menu-mobile {
    display: block;
  }
  .menu-mobile li {
    display: inline-block;
  }
  .menu {
    display: none;
  }

  .section-wrapper h1 {
    text-align: center;
  }

  .section-content {
    text-align: center;
  }

  .progress-bar-item {
    flex-direction: column;
  }

  h1 {
    font-size: 2.1rem;
  }
  .company-wrapper {
    flex-direction: column;
  }

  .card {
    text-align: center;
  }
  .icon-wrapper {
    display: flex;
    justify-content: center;
  }

  .footer-section {
    text-align: center;
  }
  .logo-img-footer {
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .menu-mobile-footer {
    margin-bottom: 1rem;
  }

  .footer-help {
    justify-content: center;
  }
  .icon-footer {
    margin: 0;
  }

  .px-7 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.menu-mobile {
  margin-left: auto;
}
.menu-mobile img {
  width: 2.2rem;
}
